# Project Introduction/Business Problem:

The main purpose of this project is to analyze Chicago crime data and suggest people better locality and area to look out for housing. Analysis performed includes getting the geocodes of the addresses already present in the dataset using foursquare API. Results from this project helps general population to find better housing area with higher safety and affordable within their requirements.

# Data:

Dataset with the name Chicago Crime has got columns like type of crime, description ,location description, street address, city, state, year of crime, community area name, police distrcit and many other details. I will be not using all the columns for analysis however, only the required columns are retained and unwanted columns will be dropped. During the analysis, address columns are used to generate geocodes using foursquare API and other columns like type of crime,location will be primely considered in order to suggest the locality to the residents. This dataset is available online. For convenience, I downloaded the dataset and below is the dataset I imported.

# Dataset:

In [1]:
import pandas as pd



df=pd.read_csv('Chicago_Crime_Data.csv')

In [2]:
df.head()

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,UPDATEDON,LATITUDE,LONGITUDE,LOCATION
0,3512276,HK587712,08/28/2004 05:50:56 PM,047XX S KEDZIE AVE,890,THEFT,FROM BUILDING,SMALL RETAIL STORE,False,False,...,14.0,58.0,6,1155838.0,1873050.0,2004,02/10/2018 03:50:01 PM,41.807441,-87.703956,"(41.8074405, -87.703955849)"
1,3406613,HK456306,06/26/2004 12:40:00 PM,009XX N CENTRAL PARK AVE,820,THEFT,$500 AND UNDER,OTHER,False,False,...,27.0,23.0,6,1152206.0,1906127.0,2004,02/28/2018 03:56:25 PM,41.898280,-87.716406,"(41.898279962, -87.716405505)"
2,8002131,HT233595,04/04/2011 05:45:00 AM,043XX S WABASH AVE,820,THEFT,$500 AND UNDER,NURSING HOME/RETIREMENT HOME,False,False,...,3.0,38.0,6,1177436.0,1876313.0,2011,02/10/2018 03:50:01 PM,41.815933,-87.624642,"(41.815933131, -87.624642127)"
3,7903289,HT133522,12/30/2010 04:30:00 PM,083XX S KINGSTON AVE,840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,...,7.0,46.0,6,1194622.0,1850125.0,2010,02/10/2018 03:50:01 PM,41.743665,-87.562463,"(41.743665322, -87.562462756)"
4,10402076,HZ138551,02/02/2016 07:30:00 PM,033XX W 66TH ST,820,THEFT,$500 AND UNDER,ALLEY,False,False,...,15.0,66.0,6,1155240.0,1860661.0,2016,02/10/2018 03:50:01 PM,41.773455,-87.706480,"(41.773455295, -87.706480471)"

# Exploratory Data Analysis:

EDA - Exploratory Data Analysis 1) read the data 2) head,tail,columns 3) Numerical data and categorical data 4) mean,medain,mode and standard deviation for the numeric values 5) Cross tabulation 6) Replace the missing values 7) possible graphs

In [3]:
df.head(10)

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,UPDATEDON,LATITUDE,LONGITUDE,LOCATION
0,3512276,HK587712,08/28/2004 05:50:56 PM,047XX S KEDZIE AVE,890,THEFT,FROM BUILDING,SMALL RETAIL STORE,False,False,...,14.0,58.0,6,1155838.0,1873050.0,2004,02/10/2018 03:50:01 PM,41.807441,-87.703956,"(41.8074405, -87.703955849)"
1,3406613,HK456306,06/26/2004 12:40:00 PM,009XX N CENTRAL PARK AVE,820,THEFT,$500 AND UNDER,OTHER,False,False,...,27.0,23.0,6,1152206.0,1906127.0,2004,02/28/2018 03:56:25 PM,41.898280,-87.716406,"(41.898279962, -87.716405505)"
2,8002131,HT233595,04/04/2011 05:45:00 AM,043XX S WABASH AVE,820,THEFT,$500 AND UNDER,NURSING HOME/RETIREMENT HOME,False,False,...,3.0,38.0,6,1177436.0,1876313.0,2011,02/10/2018 03:50:01 PM,41.815933,-87.624642,"(41.815933131, -87.624642127)"
3,7903289,HT133522,12/30/2010 04:30:00 PM,083XX S KINGSTON AVE,840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,...,7.0,46.0,6,1194622.0,1850125.0,2010,02/10/2018 03:50:01 PM,41.743665,-87.562463,"(41.743665322, -87.562462756)"
4,10402076,HZ138551,02/02/2016 07:30:00 PM,033XX W 66TH ST,820,THEFT,$500 AND UNDER,ALLEY,False,False,...,15.0,66.0,6,1155240.0,1860661.0,2016,02/10/2018 03:50:01 PM,41.773455,-87.706480,"(41.773455295, -87.706480471)"
5,7732712,HS540106,09/29/2010 07:59:00 AM,006XX W CHICAGO AVE,810,THEFT,OVER $500,PARKING LOT/GARAGE(NON.RESID.),False,False,...,27.0,24.0,6,1171668.0,1905607.0,2010,02/10/2018 03:50:01 PM,41.896447,-87.644939,"(41.896446772, -87.644938678)"
6,10769475,HZ534771,11/30/2016 01:15:00 AM,050XX N KEDZIE AVE,810,THEFT,OVER $500,STREET,False,False,...,33.0,14.0,6,1154133.0,1933314.0,2016,02/10/2018 03:50:01 PM,41.972845,-87.708600,"(41.972844913, -87.708600079)"
7,4494340,HL793243,12/16/2005 04:45:00 PM,005XX E PERSHING RD,860,THEFT,RETAIL THEFT,GROCERY FOOD STORE,True,False,...,3.0,38.0,6,1180448.0,1879234.0,2005,02/28/2018 03:56:25 PM,41.823880,-87.613504,"(41.823879885, -87.613503857)"
8,3778925,HL149610,01/28/2005 05:00:00 PM,100XX S WASHTENAW AVE,810,THEFT,OVER $500,STREET,False,False,...,19.0,72.0,6,1160129.0,1838040.0,2005,02/28/2018 03:56:25 PM,41.711281,-87.689179,"(41.711280513, -87.689179097)"
9,3324217,HK361551,05/13/2004 02:15:00 PM,033XX W BELMONT AVE,820,THEFT,$500 AND UNDER,SMALL RETAIL STORE,False,False,...,35.0,21.0,6,1153590.0,1921084.0,2004,02/28/2018 03:56:25 PM,41.939296,-87.710923,"(41.939295821, -87.710923442)"

In [4]:
df.columns

Index(['ID', 'CASE_NUMBER', 'DATE', 'BLOCK', 'IUCR', 'PRIMARY_TYPE',
       'DESCRIPTION', 'LOCATION_DESCRIPTION', 'ARREST', 'DOMESTIC', 'BEAT',
       'DISTRICT', 'WARD', 'COMMUNITY_AREA_NUMBER', 'FBICODE', 'X_COORDINATE',
       'Y_COORDINATE', 'YEAR', 'UPDATEDON', 'LATITUDE', 'LONGITUDE',
       'LOCATION'],
      dtype='object')

In [5]:
##Drop columns those are not required for the analysis
df1=df.drop(columns=['ID','CASE_NUMBER','IUCR'])

In [6]:
df1.columns

Index(['DATE', 'BLOCK', 'PRIMARY_TYPE', 'DESCRIPTION', 'LOCATION_DESCRIPTION',
       'ARREST', 'DOMESTIC', 'BEAT', 'DISTRICT', 'WARD',
       'COMMUNITY_AREA_NUMBER', 'FBICODE', 'X_COORDINATE', 'Y_COORDINATE',
       'YEAR', 'UPDATEDON', 'LATITUDE', 'LONGITUDE', 'LOCATION'],
      dtype='object')

In [7]:
df1.dtypes

DATE                      object
BLOCK                     object
PRIMARY_TYPE              object
DESCRIPTION               object
LOCATION_DESCRIPTION      object
ARREST                      bool
DOMESTIC                    bool
BEAT                       int64
DISTRICT                   int64
WARD                     float64
COMMUNITY_AREA_NUMBER    float64
FBICODE                   object
X_COORDINATE             float64
Y_COORDINATE             float64
YEAR                       int64
UPDATEDON                 object
LATITUDE                 float64
LONGITUDE                float64
LOCATION                  object
dtype: object

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 533 entries, 0 to 532
Data columns (total 19 columns):
DATE                     533 non-null object
BLOCK                    533 non-null object
PRIMARY_TYPE             533 non-null object
DESCRIPTION              533 non-null object
LOCATION_DESCRIPTION     533 non-null object
ARREST                   533 non-null bool
DOMESTIC                 533 non-null bool
BEAT                     533 non-null int64
DISTRICT                 533 non-null int64
WARD                     490 non-null float64
COMMUNITY_AREA_NUMBER    490 non-null float64
FBICODE                  533 non-null object
X_COORDINATE             529 non-null float64
Y_COORDINATE             529 non-null float64
YEAR                     533 non-null int64
UPDATEDON                533 non-null object
LATITUDE                 529 non-null float64
LONGITUDE                529 non-null float64
LOCATION                 529 non-null object
dtypes: bool(2), float64(6), int64(3), object(8)
memory usage: 71.9+ KB

In [9]:
num_cols = df1._get_numeric_data().columns #to_numeric
num_cols

Index(['ARREST', 'DOMESTIC', 'BEAT', 'DISTRICT', 'WARD',
       'COMMUNITY_AREA_NUMBER', 'X_COORDINATE', 'Y_COORDINATE', 'YEAR',
       'LATITUDE', 'LONGITUDE'],
      dtype='object')

In [10]:
des = df1.describe()
des

,BEAT,DISTRICT,WARD,COMMUNITY_AREA_NUMBER,X_COORDINATE,Y_COORDINATE,YEAR,LATITUDE,LONGITUDE
count,533.000000,533.000000,490.000000,490.000000,5.290000e+02,5.290000e+02,533.00000,529.000000,529.000000
mean,1187.037523,11.195122,22.608163,37.542857,1.162876e+06,1.886223e+06,2008.34334,41.843429,-87.677818
std,660.592263,6.496631,13.080119,21.409514,1.650197e+04,3.009980e+04,4.94940,0.082798,0.060073
min,111.000000,1.000000,1.000000,1.000000,1.100658e+06,1.814512e+06,2001.00000,41.645796,-87.905227
25%,711.000000,6.000000,12.000000,23.000000,1.151715e+06,1.860454e+06,2004.00000,41.772556,-87.718166
50%,1111.000000,10.000000,24.000000,30.000000,1.163235e+06,1.891447e+06,2008.00000,41.857737,-87.676733
75%,1634.000000,16.000000,32.000000,58.000000,1.174618e+06,1.907711e+06,2012.00000,41.902298,-87.634677
max,2535.000000,25.000000,50.000000,77.000000,1.204126e+06,1.951001e+06,2018.00000,42.021178,-87.528223

In [11]:
med = df1['BEAT'].median()
med

1111.0

In [12]:
mod=df1['BEAT'].mode()
mod

0    1111
dtype: int64

In [13]:
df1.corr()

,ARREST,DOMESTIC,BEAT,DISTRICT,WARD,COMMUNITY_AREA_NUMBER,X_COORDINATE,Y_COORDINATE,YEAR,LATITUDE,LONGITUDE
ARREST,1.000000,-0.082049,-0.030813,-0.033756,0.018220,-0.045469,0.027777,0.020064,-0.086438,0.019917,0.028437
DOMESTIC,-0.082049,1.000000,0.003041,-0.018235,0.006576,0.030485,-0.058451,-0.031028,0.091704,-0.030696,-0.059333
BEAT,-0.030813,0.003041,1.000000,0.918369,0.666611,-0.590053,-0.504877,0.692122,-0.064647,0.692559,-0.499126
DISTRICT,-0.033756,-0.018235,0.918369,1.000000,0.728903,-0.584095,-0.573912,0.702122,-0.017637,0.702824,-0.568608
WARD,0.018220,0.006576,0.666611,0.728903,1.000000,-0.576686,-0.485385,0.652533,-0.069799,0.652941,-0.480077
COMMUNITY_AREA_NUMBER,-0.045469,0.030485,-0.590053,-0.584095,-0.576686,1.000000,0.267919,-0.796011,0.098330,-0.795208,0.258665
X_COORDINATE,0.027777,-0.058451,-0.504877,-0.573912,-0.485385,0.267919,1.000000,-0.578429,-0.034130,-0.581159,0.999931
Y_COORDINATE,0.020064,-0.031028,0.692122,0.702122,0.652533,-0.796011,-0.578429,1.000000,-0.066666,0.999994,-0.568890
YEAR,-0.086438,0.091704,-0.064647,-0.017637,-0.069799,0.098330,-0.034130,-0.066666,1.000000,-0.066354,-0.035363
LATITUDE,0.019917,-0.030696,0.692559,0.702824,0.652941,-0.795208,-0.581159,0.999994,-0.066354,1.000000,-0.571641
LONGITUDE,0.028437,-0.059333,-0.499126,-0.568608,-0.480077,0.258665,0.999931,-0.568890,-0.035363,-0.571641,1.000000

# Using Foursquare API to get geocodes

In [14]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

!conda install -c conda-forge folium=0.5.0 --yes
import folium # plotting library

print('Folium installed')
print('Libraries imported.')

Collecting package metadata: ...working... done
Solving environment: ...working... done

# All requested packages already installed.

Collecting package metadata: ...working... done
Solving environment: ...working... done

# All requested packages already installed.

Folium installed
Libraries imported.

In [17]:
df1.head()

,DATE,BLOCK,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,BEAT,DISTRICT,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,UPDATEDON,LATITUDE,LONGITUDE,LOCATION
0,08/28/2004 05:50:56 PM,047XX S KEDZIE AVE,THEFT,FROM BUILDING,SMALL RETAIL STORE,False,False,911,9,14.0,58.0,6,1155838.0,1873050.0,2004,02/10/2018 03:50:01 PM,41.807441,-87.703956,"(41.8074405, -87.703955849)"
1,06/26/2004 12:40:00 PM,009XX N CENTRAL PARK AVE,THEFT,$500 AND UNDER,OTHER,False,False,1112,11,27.0,23.0,6,1152206.0,1906127.0,2004,02/28/2018 03:56:25 PM,41.898280,-87.716406,"(41.898279962, -87.716405505)"
2,04/04/2011 05:45:00 AM,043XX S WABASH AVE,THEFT,$500 AND UNDER,NURSING HOME/RETIREMENT HOME,False,False,221,2,3.0,38.0,6,1177436.0,1876313.0,2011,02/10/2018 03:50:01 PM,41.815933,-87.624642,"(41.815933131, -87.624642127)"
3,12/30/2010 04:30:00 PM,083XX S KINGSTON AVE,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,423,4,7.0,46.0,6,1194622.0,1850125.0,2010,02/10/2018 03:50:01 PM,41.743665,-87.562463,"(41.743665322, -87.562462756)"
4,02/02/2016 07:30:00 PM,033XX W 66TH ST,THEFT,$500 AND UNDER,ALLEY,False,False,831,8,15.0,66.0,6,1155240.0,1860661.0,2016,02/10/2018 03:50:01 PM,41.773455,-87.706480,"(41.773455295, -87.706480471)"

In [22]:
df1.dtypes

DATE                      object
BLOCK                     object
PRIMARY_TYPE              object
DESCRIPTION               object
LOCATION_DESCRIPTION      object
ARREST                      bool
DOMESTIC                    bool
BEAT                       int64
DISTRICT                   int64
WARD                     float64
COMMUNITY_AREA_NUMBER    float64
FBICODE                   object
X_COORDINATE             float64
Y_COORDINATE             float64
YEAR                       int64
UPDATEDON                 object
LATITUDE                 float64
LONGITUDE                float64
LOCATION                  object
dtype: object

# Explore a location

Now lets pick one address of one zipcode mentioned below and check for any venues present around that school address using foursquare API.

In [23]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

!conda install -c conda-forge folium=0.5.0 --yes
import folium # plotting library

print('Folium installed')
print('Libraries imported.')

Collecting package metadata: ...working... done
Solving environment: ...working... done

# All requested packages already installed.

Collecting package metadata: ...working... done
Solving environment: ...working... done

# All requested packages already installed.

Folium installed
Libraries imported.

In [24]:
CLIENT_ID = 'VYYYIYQ1IT2BX2UIXYMU4AOSL4ZIKT21ZYZEYI0YXZFLOIMQ' # Foursquare ID
CLIENT_SECRET = '1CZZV2O05E4JKFSSRBHX5THQO0MCQD5UTJICJSTJEP04OHAQ' #Foursquare Secret
VERSION = '20180604'
LIMIT = 30
print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: VYYYIYQ1IT2BX2UIXYMU4AOSL4ZIKT21ZYZEYI0YXZFLOIMQ
CLIENT_SECRET:1CZZV2O05E4JKFSSRBHX5THQO0MCQD5UTJICJSTJEP04OHAQ

In [25]:
## Finding Italian
search_query = 'Restaurant'
radius = 1000
print(search_query + ' .... OK!')

Restaurant .... OK!

In [27]:
latitude=41.8074405
longitude=-87.70395585

In [28]:
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url

'https://api.foursquare.com/v2/venues/search?client_id=VYYYIYQ1IT2BX2UIXYMU4AOSL4ZIKT21ZYZEYI0YXZFLOIMQ&client_secret=1CZZV2O05E4JKFSSRBHX5THQO0MCQD5UTJICJSTJEP04OHAQ&ll=41.8074405,-87.70395585&v=20180604&query=Restaurant&radius=1000&limit=30'

In [29]:
results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5c6a15a4f594df76b6a90eaf'},
 'response': {'venues': [{'id': '4f32959719836c91c7e61331',
    'name': 'Mariscos El Kora Restaurant',
    'location': {'address': '3018 W 47th St',
     'lat': 41.808432,
     'lng': -87.699926,
     'labeledLatLngs': [{'label': 'display',
       'lat': 41.808432,
       'lng': -87.699926}],
     'distance': 352,
     'postalCode': '60632',
     'cc': 'US',
     'city': 'Chicago',
     'state': 'IL',
     'country': 'United States',
     'formattedAddress': ['3018 W 47th St',
      'Chicago, IL 60632',
      'United States']},
    'categories': [{'id': '4bf58dd8d48988d1ce941735',
      'name': 'Seafood Restaurant',
      'pluralName': 'Seafood Restaurants',
      'shortName': 'Seafood',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/seafood_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1550456228',
    'hasPerk': False},
   {'id': '4eb301786da1af509d210620',
    'name': 'El Charro Restaurant',
    'location': {'address': '5149 S Kedzie Ave, Chicago, IL 60632',
     'lat': 41.79912868,
     'lng': -87.70369153,
     'labeledLatLngs': [{'label': 'display',
       'lat': 41.79912868,
       'lng': -87.70369153}],
     'distance': 925,
     'postalCode': '60632',
     'cc': 'US',
     'city': 'Chicago',
     'state': 'IL',
     'country': 'United States',
     'formattedAddress': ['5149 S Kedzie Ave, Chicago, IL 60632',
      'Chicago, IL 60632',
      'United States']},
    'categories': [{'id': '4bf58dd8d48988d1c1941735',
      'name': 'Mexican Restaurant',
      'pluralName': 'Mexican Restaurants',
      'shortName': 'Mexican',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/mexican_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1550456228',
    'hasPerk': False},
   {'id': '4aef9687f964a5206dd921e3',
    'name': 'Carnitas Don Rafa',
    'location': {'address': '4617 S Kedzie Ave',
     'lat': 41.809205930975416,
     'lng': -87.70396292599497,
     'labeledLatLngs': [{'label': 'display',
       'lat': 41.809205930975416,
       'lng': -87.70396292599497}],
     'distance': 196,
     'postalCode': '60632',
     'cc': 'US',
     'city': 'Chicago',
     'state': 'IL',
     'country': 'United States',
     'formattedAddress': ['4617 S Kedzie Ave',
      'Chicago, IL 60632',
      'United States']},
    'categories': [{'id': '4bf58dd8d48988d1c1941735',
      'name': 'Mexican Restaurant',
      'pluralName': 'Mexican Restaurants',
      'shortName': 'Mexican',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/mexican_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1550456228',
    'hasPerk': False},
   {'id': '4d178f9e401db60c6ed3eca4',
    'name': 'Wing Wah',
    'location': {'address': '4340 S Archer Ave',
     'crossStreet': 'at S Kedzie Ave',
     'lat': 41.81457049498322,
     'lng': -87.70379773930641,
     'labeledLatLngs': [{'label': 'display',
       'lat': 41.81457049498322,
       'lng': -87.70379773930641}],
     'distance': 793,
     'postalCode': '60632',
     'cc': 'US',
     'city': 'Chicago',
     'state': 'IL',
     'country': 'United States',
     'formattedAddress': ['4340 S Archer Ave (at S Kedzie Ave)',
      'Chicago, IL 60632',
      'United States']},
    'categories': [{'id': '4bf58dd8d48988d145941735',
      'name': 'Chinese Restaurant',
      'pluralName': 'Chinese Restaurants',
      'shortName': 'Chinese',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/asian_',
       'suffix': '.png'},
      'primary': True}],
    'delivery': {'id': '291789',
     'url': 'https://www.grubhub.com/restaurant/wing-wah-lau-chinese-restaurant-4340-s-archer-ave-chicago/291789?affiliate=1131&utm_source=foursquare-affiliate-network&utm_medium=affiliate&utm_campaign=1131&utm_content=291789',
     'provider': {'name': 'grubhub',
      'icon': {'prefix': 'https://fastly.4sqi.net/img/general/cap/',
       'sizes': [40, 50],
       'name': '/delivery_provider_grubhub_20180129.png'}}},
    'referralId': 'v-1550456228',
    'hasPerk': False},
   {'id': '506656b7e4b0e0a1a9672355',
    'name': 'Mariscos La Bahia',
    'location': {'address': '4465 S Archer Ave',
     'lat': 41.812050239365746,
     'lng': -87.70732466854041,
     'labeledLatLngs': [{'label': 'display',
       'lat': 41.812050239365746,
       'lng': -87.70732466854041}],
     'distance': 584,
     'postalCode': '60632',
     'cc': 'US',
     'city': 'Chicago',
     'state': 'IL',
     'country': 'United States',
     'formattedAddress': ['4465 S Archer Ave',
      'Chicago, IL 60632',
      'United States']},
    'categories': [{'id': '4bf58dd8d48988d1ce941735',
      'name': 'Seafood Restaurant',
      'pluralName': 'Seafood Restaurants',
      'shortName': 'Seafood',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/seafood_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1550456228',
    'hasPerk': False},
   {'id': '4c425958d7fad13aff1009da',
    'name': 'La Quebrada',
    'location': {'address': '5100 S California Ave',
     'crossStreet': 'at 51st St.',
     'lat': 41.80092136429358,
     'lng': -87.69425312402912,
     'labeledLatLngs': [{'label': 'display',
       'lat': 41.80092136429358,
       'lng': -87.69425312402912}],
     'distance': 1083,
     'postalCode': '60632',
     'cc': 'US',
     'city': 'Chicago',
     'state': 'IL',
     'country': 'United States',
     'formattedAddress': ['5100 S California Ave (at 51st St.)',
      'Chicago, IL 60632',
      'United States']},
    'categories': [{'id': '4bf58dd8d48988d1c1941735',
      'name': 'Mexican Restaurant',
      'pluralName': 'Mexican Restaurants',
      'shortName': 'Mexican',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/mexican_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1550456228',
    'hasPerk': False},
   {'id': '4aef8927f964a52024d921e3',
    'name': 'Las Brisas Del Mar',
    'location': {'address': '3207 W 51st St',
     'crossStreet': 'at Kedzie',
     'lat': 41.80080684735857,
     'lng': -87.70404627479903,
     'labeledLatLngs': [{'label': 'display',
       'lat': 41.80080684735857,
       'lng': -87.70404627479903}],
     'distance': 738,
     'postalCode': '60632',
     'cc': 'US',
     'city': 'Chicago',
     'state': 'IL',
     'country': 'United States',
     'formattedAddress': ['3207 W 51st St (at Kedzie)',
      'Chicago, IL 60632',
      'United States']},
    'categories': [{'id': '4bf58dd8d48988d1e0931735',
      'name': 'Coffee Shop',
      'pluralName': 'Coffee Shops',
      'shortName': 'Coffee Shop',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/coffeeshop_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1550456228',
    'hasPerk': False},
   {'id': '4c38b536dfb0e21ee911afa8',
    'name': 'Golden Heart',
    'location': {'address': '4210 S Archer Ave',
     'lat': 41.816948490502256,
     'lng': -87.69989999568033,
     'labeledLatLngs': [{'label': 'display',
       'lat': 41.816948490502256,
       'lng': -87.69989999568033}],
     'distance': 1110,
     'postalCode': '60632',
     'cc': 'US',
     'city': 'Chicago',
     'state': 'IL',
     'country': 'United States',
     'formattedAddress': ['4210 S Archer Ave',
      'Chicago, IL 60632',
      'United States']},
    'categories': [{'id': '4bf58dd8d48988d143941735',
      'name': 'Breakfast Spot',
      'pluralName': 'Breakfast Spots',
      'shortName': 'Breakfast',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/breakfast_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1550456228',
    'hasPerk': False}]}}

In [30]:
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()

,categories,delivery.id,delivery.provider.icon.name,delivery.provider.icon.prefix,delivery.provider.icon.sizes,delivery.provider.name,delivery.url,hasPerk,id,location.address,...,location.crossStreet,location.distance,location.formattedAddress,location.labeledLatLngs,location.lat,location.lng,location.postalCode,location.state,name,referralId
0,"[{'id': '4bf58dd8d48988d1ce941735', 'name': 'S...",NaN,NaN,NaN,NaN,NaN,NaN,False,4f32959719836c91c7e61331,3018 W 47th St,...,NaN,352,"[3018 W 47th St, Chicago, IL 60632, United Sta...","[{'label': 'display', 'lat': 41.808432, 'lng':...",41.808432,-87.699926,60632,IL,Mariscos El Kora Restaurant,v-1550456228
1,"[{'id': '4bf58dd8d48988d1c1941735', 'name': 'M...",NaN,NaN,NaN,NaN,NaN,NaN,False,4eb301786da1af509d210620,"5149 S Kedzie Ave, Chicago, IL 60632",...,NaN,925,"[5149 S Kedzie Ave, Chicago, IL 60632, Chicago...","[{'label': 'display', 'lat': 41.79912868, 'lng...",41.799129,-87.703692,60632,IL,El Charro Restaurant,v-1550456228
2,"[{'id': '4bf58dd8d48988d1c1941735', 'name': 'M...",NaN,NaN,NaN,NaN,NaN,NaN,False,4aef9687f964a5206dd921e3,4617 S Kedzie Ave,...,NaN,196,"[4617 S Kedzie Ave, Chicago, IL 60632, United ...","[{'label': 'display', 'lat': 41.80920593097541...",41.809206,-87.703963,60632,IL,Carnitas Don Rafa,v-1550456228
3,"[{'id': '4bf58dd8d48988d145941735', 'name': 'C...",291789,/delivery_provider_grubhub_20180129.png,https://fastly.4sqi.net/img/general/cap/,"[40, 50]",grubhub,https://www.grubhub.com/restaurant/wing-wah-la...,False,4d178f9e401db60c6ed3eca4,4340 S Archer Ave,...,at S Kedzie Ave,793,"[4340 S Archer Ave (at S Kedzie Ave), Chicago,...","[{'label': 'display', 'lat': 41.81457049498322...",41.814570,-87.703798,60632,IL,Wing Wah,v-1550456228
4,"[{'id': '4bf58dd8d48988d1ce941735', 'name': 'S...",NaN,NaN,NaN,NaN,NaN,NaN,False,506656b7e4b0e0a1a9672355,4465 S Archer Ave,...,NaN,584,"[4465 S Archer Ave, Chicago, IL 60632, United ...","[{'label': 'display', 'lat': 41.81205023936574...",41.812050,-87.707325,60632,IL,Mariscos La Bahia,v-1550456228

In [31]:
##Define information of interest and filter dataframe
# keep only columns that include venue name, and anything that is associated with location
filtered_columns = ['name', 'categories'] + [col for col in dataframe.columns if col.startswith('location.')] + ['id']
dataframe_filtered = dataframe.loc[:, filtered_columns]

# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

# filter the category for each row
dataframe_filtered['categories'] = dataframe_filtered.apply(get_category_type, axis=1)

# clean column names by keeping only last term
dataframe_filtered.columns = [column.split('.')[-1] for column in dataframe_filtered.columns]

dataframe_filtered

,name,categories,address,cc,city,country,crossStreet,distance,formattedAddress,labeledLatLngs,lat,lng,postalCode,state,id
0,Mariscos El Kora Restaurant,Seafood Restaurant,3018 W 47th St,US,Chicago,United States,NaN,352,"[3018 W 47th St, Chicago, IL 60632, United Sta...","[{'label': 'display', 'lat': 41.808432, 'lng':...",41.808432,-87.699926,60632,IL,4f32959719836c91c7e61331
1,El Charro Restaurant,Mexican Restaurant,"5149 S Kedzie Ave, Chicago, IL 60632",US,Chicago,United States,NaN,925,"[5149 S Kedzie Ave, Chicago, IL 60632, Chicago...","[{'label': 'display', 'lat': 41.79912868, 'lng...",41.799129,-87.703692,60632,IL,4eb301786da1af509d210620
2,Carnitas Don Rafa,Mexican Restaurant,4617 S Kedzie Ave,US,Chicago,United States,NaN,196,"[4617 S Kedzie Ave, Chicago, IL 60632, United ...","[{'label': 'display', 'lat': 41.80920593097541...",41.809206,-87.703963,60632,IL,4aef9687f964a5206dd921e3
3,Wing Wah,Chinese Restaurant,4340 S Archer Ave,US,Chicago,United States,at S Kedzie Ave,793,"[4340 S Archer Ave (at S Kedzie Ave), Chicago,...","[{'label': 'display', 'lat': 41.81457049498322...",41.814570,-87.703798,60632,IL,4d178f9e401db60c6ed3eca4
4,Mariscos La Bahia,Seafood Restaurant,4465 S Archer Ave,US,Chicago,United States,NaN,584,"[4465 S Archer Ave, Chicago, IL 60632, United ...","[{'label': 'display', 'lat': 41.81205023936574...",41.812050,-87.707325,60632,IL,506656b7e4b0e0a1a9672355
5,La Quebrada,Mexican Restaurant,5100 S California Ave,US,Chicago,United States,at 51st St.,1083,"[5100 S California Ave (at 51st St.), Chicago,...","[{'label': 'display', 'lat': 41.80092136429358...",41.800921,-87.694253,60632,IL,4c425958d7fad13aff1009da
6,Las Brisas Del Mar,Coffee Shop,3207 W 51st St,US,Chicago,United States,at Kedzie,738,"[3207 W 51st St (at Kedzie), Chicago, IL 60632...","[{'label': 'display', 'lat': 41.80080684735857...",41.800807,-87.704046,60632,IL,4aef8927f964a52024d921e3
7,Golden Heart,Breakfast Spot,4210 S Archer Ave,US,Chicago,United States,NaN,1110,"[4210 S Archer Ave, Chicago, IL 60632, United ...","[{'label': 'display', 'lat': 41.81694849050225...",41.816948,-87.699900,60632,IL,4c38b536dfb0e21ee911afa8

In [32]:
dataframe_filtered.name

0    Mariscos El Kora Restaurant
1           El Charro Restaurant
2              Carnitas Don Rafa
3                       Wing Wah
4              Mariscos La Bahia
5                    La Quebrada
6             Las Brisas Del Mar
7                   Golden Heart
Name: name, dtype: object

# Conclusion:

Hence by finding the better housing areas other venues can also be explored further like restaurants, super markets etc using FourSquare API